<link href="~/content/configuraiton.css" rel="stylesheet" />

@{
  //List<MobilePaywall.Ol.Core.Tables.MobileOperatorTable> _mobileOperators = new MobilePaywall.Ol.Core.Managers.MobileOperatorManager().Query();

  DateTime yesterday = DateTime.Now.AddDays(-1);
  DateTime tomorrow = DateTime.Now.AddDays(1);

  DateTime from = new DateTime(yesterday.Year, yesterday.Month, yesterday.Day, 18, 0, 0);
  DateTime to = new DateTime(tomorrow.Year, tomorrow.Month, tomorrow.Day, 7, 0, 0);

  string _limit = Request.Cookies["_limit"] != null ? Request.Cookies.Get("_limit").Value.ToString() : "100";
  string _country = Request.Cookies["_country"] != null ? Request.Cookies.Get("_country").Value.ToString() : "";
  string _service = Request.Cookies["_service"] != null ? Request.Cookies.Get("_service").Value.ToString() : "";
  string _useOLReference = Request.Cookies["_useOLReference"] != null && Request.Cookies.Get("_useOLReference").Value.ToString() == "0" ? "" : "checked";
  string _paymentStatus = Request.Cookies["_paymentStatus"] != null ? Request.Cookies.Get("_paymentStatus").Value.ToString() : "";
  string _paymentRequest = Request.Cookies["_paymentRequest"] != null ? Request.Cookies.Get("_paymentRequest").Value.ToString() : "";
  string _payment = Request.Cookies["_payment"] != null ? Request.Cookies.Get("_payment").Value.ToString() : "";
  string _transaction = Request.Cookies["_transaction"] != null ? Request.Cookies.Get("_transaction").Value.ToString() : "";
  string _refreshTime = Request.Cookies["_refreshTime"] != null ? Request.Cookies.Get("_refreshTime").Value.ToString() : "30";
  string _refreshEnabled = Request.Cookies["_refreshEnabled"] != null && Request.Cookies.Get("_refreshEnabled").Value.ToString().Equals("1") ? "checked" : "";
  string _groupStats = Request.Cookies["_groupStats"] != null ? Request.Cookies.Get("_groupStats").Value.ToString() : "";
}
<div id="config">
  <table>
    <tr>
      <td>Limit</td>
      <td> <input type="number" id="config_limit" value="@_limit" /> </td>
      <td></td>
    </tr>

    <tr>
      <td>From/To</td>
      <td> <input type="text" id="config_from" value="@from.ToString("yyyy-MM-dd HH:mm:ss")" /> </td>
      <td> <input type="text" id="config_to" value="@to.ToString("yyyy-MM-dd HH:mm:ss")" /> </td>
    </tr>

    <tr>
      <td></td>
      <td id="dateManipulation">
        <a class="dateManipulate" value="dayBefore">Day -</a>
        <a class="dateManipulate" value="today">Today</a>
        <a class="dateManipulate dateManipulateSpace" value="dayAfter">Day +</a>
        <a class="dateManipulate" value="weekBefore">Week -</a>
        <a class="dateManipulate" value="week">This week</a>
        <a class="dateManipulate dateManipulateSpace" value="weekAfter">Week -</a>
        <a class="dateManipulate" value="monthBefore">Month -</a>
        <a class="dateManipulate" value="month">This month</a>
        <a class="dateManipulate dateManipulateSpace" value="monthAfter">Month +</a>
        <a class="dateManipulate" value="yearBefore">Year -</a>
        <a class="dateManipulate" value="year">This year</a>
        <a class="dateManipulate" value="yearAfter">Year +</a>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Country</td>
      <td>
        <div class="input_delete">X</div>
        <input type="text" id="config_country" value="@_country" placeholder="rs | de | at | !pt" />
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Mobile Operator</td>
      <td>
        <select id="config_mo">
          <option id="config_mo_default" value="-1" country="-1" countryid="-1">NULL</option>
          @*foreach (MobilePaywall.Ol.Core.Tables.MobileOperatorTable mo in _mobileOperators)
          {
            <option value="@mo.ID" country="@mo.Country" countryid="@mo.CountryID" class="option_changed">@mo.Name</option>
          }*@
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Service</td>
      <td>
        <div class="input_delete">X</div>
        <input type="text" id="config_service" value="@_service" placeholder="porntraum | geilevids | !fuckclips" />
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Msisdn</td>
      <td>
        <div class="input_delete">X</div>
        <input type="text" id="config_msisdn" value="" placeholder="436763802378 | !38268262810" />
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Pxid</td>
      <td>
        <div class="input_delete">X</div>
        <input type="text" id="config_pxid" value="" placeholder="115215454 | !115215455" />
      </td>
      <td></td>
    </tr>


    <tr>
      <td>Message direction</td>
      <td>
        <select id="config_messageDirection">
          <option value="-1">Default</option>
          <option value="1" class="option_changed">Incoming</option>
          <option value="2" class="option_changed">Outgoing</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Message status</td>
      <td>
        <select id="config_messageStatus">
          <option value="-1">Default</option>
          <option value="5" class="option_changed">Received</option>
          <option value="6" class="option_changed">Sent</option>
          <option value="7" class="option_changed">Delivered</option>
          <option value="8" class="option_changed">Not delivered</option>
        </select>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>Message type</td>
      <td>
        <select id="congif_messageType">
          <option value="-1">Default</option>
          <option value="1" class="option_changed">MO</option>
          <option value="2" class="option_changed">MT</option>
          <option value="3" class="option_changed">MT Free</option>
          <option value="4" class="option_changed">MT Welcome</option>
        </select>
      </td>
      <td></td>
    </tr>
    
    <tr>
      <td>Refresh after</td>
      <td>
        <input type="number" min="5" value="@_refreshTime" id="config_refresh" style="width:40%; margin-right:5%;" /> seconds;
      </td>
      <td><input type="checkbox" id="config_enableRefresh" @_refreshEnabled /> - Enable refresh</td>
    </tr>


    <tr>
      <td> <span class="keyboard">Q</span> </td>
      <td>Quick report based on date, mobile operator, service, country, referrer contains</td>
      <td></td>
    </tr>

    <tr>
      <td> <span class="keyboard">R</span> || <span class="keyboard">P</span> || <span class="keyboard">T</span> </td>
      <td>Open only values with payment/pReqeust/transaction not NULL or return to default</td>
      <td></td>
    </tr>

    <tr>
      <td> <span class="keyboard">C</span> </td>
      <td>See transactions on Cashflow side. (with only service filter)</td>
      <td></td>
    </tr>

    <tr>
      <td> <span class="keyboard">Del</span> </td>
      <td>Return all filters to default and load</td>
      <td></td>
    </tr>

    @*<tr>
        <td></td>
        <td>
          <button id="config_charts">See charts</button>
        </td>
        <td>
          Charts will be based on date you entered
        </td>
      </tr>*@

  </table>
</div>
@if (!string.IsNullOrEmpty(_paymentStatus))
{
  <script>
    $('#config_paymentStatus option[value=@_paymentStatus]').attr('selected', 'selected');
  </script>
}
@if (!string.IsNullOrEmpty(_paymentRequest))
{
  <script>
    $('#config_paymentRequest option[value=@_paymentRequest]').attr('selected', 'selected');
  </script>
}
@if (!string.IsNullOrEmpty(_payment))
{
  <script>
    $('#congif_payment option[value=@_payment]').attr('selected', 'selected');
  </script>
}
@if (!string.IsNullOrEmpty(_transaction))
{
  <script>
    $('#congif_transaction option[value=@_transaction]').attr('selected', 'selected');
  </script>
}
@if (!string.IsNullOrEmpty(_groupStats))
{
  <script>
    $('#congif_groupStats option[value=@_groupStats]').attr('selected', 'selected');
  </script>
}